/*All programming by Andrew Alban, AndrewChicken*/

#header {
	width:54vw;
	height:35vh;
	margin:auto;
	background:#313131;
	border:2px solid black;
}
#banner {
	width:100%;
	height:88%;
	position:relative;
}
#subscribe {
	position:relative;
	top:90%;
	rigth:100%;
}
