/*All programming by Andrew Alban, AndrewChicken*/

#header {
	width:54vw;
	height:35vh;
	margin:auto;
	background-image:url("banner.jpg");
	background-size:100% 100%;
	border:2px solid black;
}
